html{
  padding: 0;
  margin: 0;
  background-color: palegoldenrod;
}

.App {
  background-color: cyan;
  display: flex;
  justify-content: center;
  text-align: center;
}

form{
  background-color: peachpuff;
  flex-direction: column;
  width: 100%;
  /* padding: 2em; */
}

form input{

}

li {
  background-color: red;
  display: inline-flex;
  overflow: hidden;
  text-align: left;
}

form .list {
  background-color: pink;
  width: 100%;

  padding: 0;
  display: flex;
  flex-direction: column;
}

form .list a {
  background-color: saddlebrown;
  margin-left: auto;
  padding-left: 1em;
}
