/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* * {
  padding: 0;
  width: 100%;
  height: 100%;
} */

.App {
  background-color: palegoldenrod;
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  /* width: 100vw;
  height: 100vh; */

}

form{
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

form .list {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  /* text-align; */
  /* align-items: stretch; */
  align-self: auto;
}

form .list a {
  background-color: saddlebrown;
  margin-left: auto;
}

.Page{
  background-color: grey;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.list{
list-style-type: none;
color:red;
padding:0;
display: flex;
flex-direction: column;
/* justify-content: space-between; */
}

.list{
  color: purple;
  display: flex;
  justify-content: space-between;
}

.list a{
  color:green;
  /* text-decoration: none;
  margin-left: auto;
  text-align: center; */
}
a:hover{
opacity: 0.5;
}
