html{
  padding: 0;
  margin: 0;
  background-color: palegoldenrod;
}

.App {
  background-color: cyan;
  text-align: -webkit-center;
}

form{
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  width: 50%;
}

form input{
  width: 30%;
}

li {
  background-color: red;
  display: inline-flex;
  overflow: hidden;
  text-align: left;
}

form .list {
  background-color: pink;

  padding: 0;
  height: 30%;
  display: flex;
  flex-direction: column;
}

form .list a {
  background-color: saddlebrown;
  margin-left: auto;
  padding-left: 1em;
}
