@import url('https://fonts.googleapis.com/css?family=Arvo|Raleway');

body {
  margin: 0;
  font-family:'Arvo', serif, 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Arvo', serif, 'Raleway', sans-serif;
}
